<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    	<!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">


</head>
<body>



  <nav class="nav dark-nav">
    <div class="container">
      <div class="nav-heading">
        <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
        <a class="brand" href="#">RFID</a>
      </div>
      <div class="menu" id="open-navbar1">
        <ul class="list">


          <li><a href="{% url 'logout' %}">logout</a></li>
          <li><a href="{% url 'users' %}">Users</a></li>
          <li><a href="{% url 'adduser' %}">Add Users</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 style="margin-left: 10px"> <b> All users</b></h1>
<div class="btn-toolbar c">
    <a  class="btn btn-danger" style="color: white">{{ user.rfid }}</a>
    <button class="btn">{{ user.first_name }}</button>
    <button class="btn">{{ user.last_name }}</button>
</div>
<div class="well">
    <table class="table c">
      <thead>
        <tr>
          <th>id</th>
          <th>date</th>

        </tr>
      </thead>
      <tbody>
{% for pr in presences %}



        <tr>
          <td>{{ pr.id }}</td>
          <td>{{ pr.date }}</td>

        </tr>

      {% endfor %}

      </tbody>
    </table>
</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'nav.js' %}"></script>
<script src="{% static 'table.js' %}"></script>


</body>
</html>